@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap');
@import 'tailwindcss';

@theme {
  --color-verdeDestaque: '#81FE88';
  --color-verdePastel: '#BFFFC3';
  --color-verdePetroleo: '#132E35';
  --color-grafito: '#01080E';
  --color-grisOscuro: '#171D1F';
  --color-gris: '#3E3E3F';
  --color-grisMedio: '#888888';
  --color-grisClaro: '#BCBCBC';
  --color-offwhite: '#E1E1E1';
  --color-blanco: '#FFFFFF';
}

:root {
  --bg: #01080e;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-grafito text-offwhite font-prompt;
  background-image:
    radial-gradient(ellipse at 20% 20%, rgba(19, 46, 53, 0.3), transparent 10%),
    radial-gradient(ellipse at 80% 80%, rgba(8, 16, 14, 0.45), transparent 15%);
  background-blend-mode: overlay;
}
