@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap');
@import 'tailwindcss';

@theme {
  /* Colores personalizados */
  --color-verdeDestaque: #81fe88;
  --color-verdePastel: #bfffc3;
  --color-verdePetroleo: #132e35;
  --color-grafito: #01080e;
  --color-grisOscuro: #171d1f;
  --color-gris: #3e3e3f;
  --color-grisMedio: #888888;
  --color-grisClaro: #bcbcbc;
  --color-offwhite: #e1e1e1;
  --color-blanco: #ffffff;

  /* Font family */
  --font-family-prompt: 'Prompt', sans-serif;
}

/* Estilos base */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family-prompt);
  background-color: #01080e;
  color: #e1e1e1;
  background-image:
    radial-gradient(ellipse at 20% 20%, rgba(19, 46, 53, 0.3), transparent 50%),
    radial-gradient(ellipse at 80% 80%, rgba(8, 16, 14, 0.45), transparent 50%);
  background-attachment: fixed;
}
